version: "3.9"

services:

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    depends_on:
      - redis

  worker:
    build: ./backend
    command: celery -A worker worker --loglevel=info
    depends_on:
      - redis
