
services:

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    depends_on:
      - redis

  worker:
    build: ./backend
    command: celery -A worker worker --loglevel=info
    environment: #These env are for local testing only, in prod we inject them from GitHub Actions into the worker tasks
      - REDIS_URL=redis://redis:6379/0
      - LOG_FILE=/app/log_celery.txt
      - TASK_DELAY=10
      - CELERY_APP_NAME=worker
    depends_on:
      - redis
