name: Build dockerfiles, test with trivy, create infra via terrafrom and upload to aws ecs

on:
  push:
    branches:
      - main
  workflow_dispatch:     

env:
  AWS_REGION: ${{ secrets.AWS_REGION }}
  AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}

jobs:

  deploy:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout code
      uses: actions/checkout@v4
